*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: lightcoral;
    position: fixed;
    width: 100%;
    
}

header img{
    width: 300px;
}

header nav a{
    margin-right: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #191c03;
    font-weight: 800;
    text-transform: uppercase;    
}


